#searchLabel {
  font-size: 19px;
  font-weight: 500;
  color: #525252;
}


#seeAll {
  float: right;
  color: #FF9100;
  text-decoration: underline;
  font-weight: 600;
}


#topicMain {
  .card {
    box-shadow: 0 6px 12px #d0d0d0;
    border-radius: 15px;
    border: none;
    margin: 0px 0px 20px 0px;

    .card-body {
      margin: 0px;
      padding: 0px;

      .title {
        color: #353535;
        margin: 10px 15px 0px;
        cursor: pointer;
        font-family: revert;
        font-weight: 600;
      }

      .topicImage {
        width: 100%;
        height: 210px !important;
        object-fit: cover;

        img {
          width: 100%;
          border-radius: 15px 15px 15px 15px;
          height: 210px !important;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .votes {
        margin: 15px 0px 0px 15px;
      }

      .voteNow {
        background: linear-gradient(to bottom left, #f7b733 0%, #fc4a1a 100%);
      }
    }
  }
}

.catButton {
  position: absolute;
  left: 105px;
  bottom: 30px;
  background: white;
  border-radius: 21px !important;
  color: black !important;
  padding: 4px 17px !important;
  font-weight: 600;
}
