.contactus-one .contact-form .form-control {
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.contact-info>div>p {
  margin-bottom: 10px;
}

.map img {
  pointer-events: none;
  width: 100%;
  border: none;
  height: 410px;
  object-fit: cover;
  border-radius: 4px;
}

.contactus-one .dart-headingstyle-one .dart-heading:after {
  left: 15px;
}

.btn {
  margin: 20px 0px;
  float: right !important;
  background: linear-gradient(to bottom left, #512d6d 0%, #512d6d 100%) !important;
}


#required {
  color: red !important;
}
