<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    Menu
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="container">
      <ul class="navbar-nav">
        <a class="navbar-brand" routerLink="/home">
          <img src="../../../../assets/images/icons/logo.png" alt="">
        </a>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="onLinkactive">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="onLinkactive">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vote" routerLinkActive="onLinkactive">Vote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/survey" routerLinkActive="onLinkactive">Survey</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact-us" routerLinkActive="onLinkactive">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/coopration" routerLinkActive="onLinkactive">Cooperation</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/contribution" routerLinkActive="onLinkactive">Contribution</a>
        </li>

        <li id="userAction" *ngIf="user != null">
          <img src="{{baseUrl}}/{{user['image']}}" id="dropdownMenuButton" data-toggle="dropdown" alt="">

          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item b_item" routerLink="/profile" routerLinkActive="onLinkactive"> <i class="fa fa-user"
                aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item b_item"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a>
            <a class="dropdown-item" (click)="logout()"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
          </div>

        </li>
        <li id="userAction" *ngIf="user == null">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
