.navbar {
  border-bottom: 2px solid #f2f2f2;
  box-shadow: 0 3px 10px #f0f0f0;
  background: white;

  .navbar-nav {

    .nav-item {
      margin: 0px 5px;

      .nav-link {
        color: #5a5a5a;
      }
    }

    #userAction {
      position: absolute;
      right: 0px;

      img {
        width: 43px !important;
        margin: 0px 70px;
        border-radius: 40px;
        object-fit: cover;
        border: 1px solid #f8f9fa;
        height: 43px;
        cursor: pointer;
      }
    }

    .nav-item .onLinkactive {
      color: #FF9100 !important;
      border-bottom: 2px solid #FF9100;
    }

    .navbar-brand {
      padding: 0px;
      margin: 0px;

      img {
        width: 43px !important;
        margin: 0px 40px;
      }
    }
  }

  .container {
    position: relative;
  }
}

.dropdown-menu {
  position: absolute;
  right: 65px;

  .dropdown-item {
    cursor: pointer;
  }

  .b_item {
    border-bottom: 1px solid #f2f2f2;
  }
}

.logout {
  cursor: pointer;
  color: black;
}

// .navbar-toggle {
//   outline: none !important;
// }

// .navbar-toggle:focus {
//   outline: none !important;
// }
