<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">

      <br />
      <br />

      <form>
        <label for="search" id="searchLabel">What Surveys are you looking for ?</label>
        <div class="form-group" id="form">
          <input type="search" id="form" name="survey" [(ngModel)]="formObj.text" placeholder="Search for a survey">
          <button id="searchButton" (click)="search()">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>

    </div>

    <div class="col-md-12">
      <app-slider></app-slider>
    </div>

    <div class="col-md-12 mb-5">
      <app-topics></app-topics>
    </div>

    <div class="col-md-12 mb-5">
      <app-products></app-products>
    </div>

    <div class="col-md-12 mb-5">
      <app-categories></app-categories>
    </div>



  </div>
</div>

<app-footer></app-footer>
