h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
}

/*---contact form---*/

.contactus-one .contact-form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  background-color: transparent;
  height: 50px;
}

.contactus-one .contact-form .form-control {
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}

.contact-info>div>p {
  margin-bottom: 10px;
}

.contactus-one .contact-info p i {
  margin-right: 15px;
  color: #512d6d;
}

.map iframe {
  pointer-events: none;
  width: 100%;
  border: none;
}

.map {
  filter: brightness(100%);
}

.map img {
  pointer-events: none;
  width: 100%;
  border: none;
  height: 410px;
  object-fit: cover;
}

.contactus-one .dart-headingstyle-one .dart-heading:after {
  left: 15px;
}


.btn {
  margin: 20px 0px;
  float: right !important;
  background: linear-gradient(to bottom left, #512d6d 0%, #512d6d 100%) !important;
}
