<app-navbar></app-navbar>

<div class="container mt-5 mb-5">
  <div class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let item of products | paginate: { itemsPerPage: 1000, currentPage: p }">
      <div class="card topicCard">
        <div class="card-body">
          <div class="topicImage">
            <img src="{{baseUrl}}/{{item['product']['image']}}" alt="">
          </div>
          <p class="title">{{item['product']['name']}}</p>
          <p class="votes">{{item['vote']}} have voted</p>
          <button class="btn voteNow" (click)="surveyByproduct(item['product']['_id'])">Vote Now</button>
        </div>
      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>
