// @font-face {
//   font-family: 'Oswald-Bold';
//   src: url('./assets/fonts/Oswald-Bold.ttf');
//   src: local('Cera Pro Medium'), local('CeraPro-Medium'),
//     url('./assets/fonts/Oswald-ExtraLight.ttf') format('embedded-opentype'),
//     url('./assets/fonts/Oswald-Light.ttf') format('ttf'),
//     url('./assets/fonts/Oswald-Regular.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(83, 83, 83);
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(95, 95, 95);
  border-radius: 3px;
}


.btn {
  border-radius: 4px !important;
  border: none !important;
  color: white !important;
  padding: 4px 8px !important;
  background: linear-gradient(to bottom left, #ffc550 0%, #ff693f 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: -webkit-pictograph !important;
}
