<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 mb-5">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-md-4">
              <div class="profile-img">
                <img *ngIf="!singleUser_db?.image || singleUser_db?.image == ''"
                  src="https://i.pinimg.com/originals/e5/32/72/e53272e7c1c018fa1434fdff47e212a9.jpg" alt="" />
                <img *ngIf="singleUser_db?.image && singleUser_db?.image != ''"
                  src="{{baseUrl}}/{{singleUser_db?.image }}" alt="" />
                <div class="file btn btn-lg btn-primary">
                  Profile Photo
                  <!-- <input type="file" name="file" /> -->
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <h5>Update Profile</h5>
              <form>
                <div class="row">

                  <div class="form-group col-md-6">
                    <label for="name" class="control-label">Name <span>*</span> </label>
                    <input class="form-control" id="name" [(ngModel)]="formObj.name" name="name" type="text">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="lan" class="control-label">Language <span>*</span> </label>
                    <input class="form-control" id="lan" [(ngModel)]="formObj.lang" name="language" type="text">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="date" class="control-label">Date of birth <span>*</span> </label>
                    <input class="form-control" id="date" [(ngModel)]="formObj.birthdate" name="date" type="date">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="Profession" class="control-label">Profession <span>Optional</span> </label>
                    <input class="form-control" id="Profession" [(ngModel)]="formObj.profession" name="profession"
                      type="text">
                  </div>

                  <div class="form-group col-md-12">
                    <label for="bio" class="control-label">Bio <span>*</span> </label>
                    <textarea name="bio" class="form-control" [(ngModel)]="formObj.bio" id="bio" name="bio"></textarea>
                  </div>

                  <div class="form-group col-md-12">
                    <input type="submit" class="profile-edit-btn btn" name="btnAddMore" value="Submit"
                      (click)="update()" />
                  </div>

                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
